{% extends "base.html" %}
{% load static %}

{% block web_name %} Proceso de restablecimiento {% endblock web_name %}

{% block link_tags %}
<link rel="stylesheet" href="{% static 'css/success.css' %}">
{% endblock link_tags %}

{% block content %}
<div class="container other">
    <div class="alert alert-primary" role="alert">
        <h2 class="text-center">
            Has reestablecido tu contraseña con exito! Por favor inicia sesion nuevamente <a href="{% url 'login' %}" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">aqui</a>
        </h2>
    </div>
</div>
{% endblock content %}