{% extends "base_form.html" %}

{% block web_name %}Restablecer Contraseña{% endblock web_name %}

{% block form_title %}Restablecer Contraseña{% endblock form_title %}
{% block form_description %}
Para que puedas restablecer tu contraseña, debemos confirmar que eres tú. Por favor, ingresa el correo electrónico asociado a tu cuenta para que podamos contactarte
{% endblock form_description %}
{% block button_label %}Enviar correo{% endblock button_label %}
{% block back_url %}{% url 'reportes:profile' %}{% endblock back_url %}
