{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul class="list-group">
        {% for sms_base in sms_bases %}
        <li class="list-group-item" aria-current="true">
            {{ sms_base.name }}
            <a class="btn btn-primary" href="{% url 'reportes:sms_update' report_type.name sms_base.id %}">
                ir
            </a>
        </li>
        {% endfor %}
    </ul>
    <a class="btn btn-secondary" href="{% url 'reportes:reporte' report_type.name %}" role="button">Volver</a>
</div>
{% endblock content %}