{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block web_name %}Cargar Información{% endblock web_name %}

{% block link_tags %}
{% endblock link_tags %}

{% block content %}
<div class="container">
    <h2 class="text-center">Cargar información</h2>
    <form novalidate method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="btn-group">
            <button class="btn btn-primary">Cargar</button>
            <a href="{% url 'customer_management:asignation_mgmnt' %}" class="btn btn-secondary"
                role="button">volver</a>
        </div>
    </form>
</div>
{% endblock content %}