/* Estilo para la sección principal */
.mainsection {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: auto;
    gap: 15px;
    height: 90vh;
    width: 90vw;
    margin: auto;
    /* Centra la sección en el contenedor padre si es necesario */
}

/* Estilo para los contenedores internos */
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Espacio entre los elementos internos */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border: 1px solid #e5e5e5;
    height: 100%;
    /* Ocupa la altura completa del contenedor principal */
}

/* Estilo para el título centrado */
.text-center {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo para la grilla interna en vicidial y telematica */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
}

/* Estilo para los elementos de la grilla */
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para los enlaces y botones */
a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

/* Estilo para los botones */
.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    background: #e8e8e8;
    color: #000000;
    text-align: center;
    transition: transform 0.1s ease;
    width: 210px;
    height: 60px;
    text-align: center;
}

a:hover .button_top {
    transform: translateY(-0.33em);
}

a:active .button_top {
    transform: translateY(0);
}

.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn {
    width: 180px;
    height: 60px;
}

/* Estilo para la imagen */
.img-fluid {
    align-self: center;
    justify-self: center;
    width: 100%;
    /* Ajusta la imagen al ancho del contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    max-width: 440px;
    /* Ajusta el tamaño máximo si es necesario */
}

.navbar-brand {
    background-color: white;
    border: none;
    border-radius: 0;
    justify-content: end;
}

.sidebar-link {
    background-color: #333;
    border: none;
    border-radius: 0;
}

.header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.reportes-list {
    width: 100%;
    height: auto;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}