/* Estilo para la sección principal */
.mainsection {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    grid-template-rows: repeat(2, 250px);
    gap: 15px;
    /* Espacio entre los elementos de la grilla */
    height: 90vh;
    /* Ajusta la altura según sea necesario */
    width: 90vw;
    /* Ajusta el ancho según sea necesario */
    margin: auto;
    /* Centra la sección en el contenedor padre si es necesario */
}

/* Estilo para los contenedores internos */
.container {
    display: grid;
    grid-template-rows: auto 1fr;
    /* Título y contenido */
    gap: 10px;
    /* Espacio entre el título y el contenido */
    padding: 10px;
    border-radius: 10px;
    /* Borde redondeado */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
    background-color: #fff;
    /* Fondo blanco para mejor visibilidad */
    border: 1px solid #e5e5e5;
}

/* Estilo para el título centrado */
.text-center {
    text-align: center;
    margin-bottom: 10px;
}

/* Estilo para la grilla interna en vicidial y telematica */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dos columnas de igual tamaño */
    grid-template-rows: repeat(2, auto);
    /* Dos filas de tamaño automático */
    gap: 10px;
    /* Espacio entre los elementos de la grilla */
}

/* Estilo para los elementos de la grilla */
.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    text-decoration: none;
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
    width: 210px;
    height: 60px;
    text-align: center;
}

a:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

a:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}


/* Estilo para los botones */
.btn-primary {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

/* Opcional: Estilo para los botones en estado hover */
.btn-primary:hover {
    background-color: #0056b3;
}

.btn {
    width: 180px;
    height: 60px;
}


/* Estilo para la imagen */
.img-fluid {
    align-self: center;
    justify-self: center;
    width: 440px;
    /* Ajusta la imagen al tamaño del contenedor */
    height: 240px;
    /* Mantiene la proporción de la imagen */
}

.navbar-brand {
    background-color: white;
    border: none;
    border-radius: 0;
    justify-content: end;
}

.sidebar-link {
    background-color: #333;
    border: none;
    border-radius: 0;
}

.header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.reportes-list {
    width: 510px;
    height: 60px;
    align-self: center;
    justify-self: center;
}