{% extends "base.html" %}
{% load static %}

{% block web_name %}
Reportes
{% endblock web_name %}

{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/index.css' %}">
{% endblock link_tags %}

{% block content %}
<section class="container">
    <div class="container">
        <h2 class="text-center">Módulo de reportería</h2>
        <a href="{% url 'reportes:tipos_reporte' %}" class="btn btn-primary module-btn" role="button">
            Ir al módulo
        </a>
    </div>
    <div class="container">
        <h2 class="text-center">Plataforma Vicidial</h2>
        <a href="{% url 'reportes:vicidial' %}" class="btn btn-primary module-btn">Interactuar con plataforma
            Vicidial</a>
    </div>
    <img src="{% static 'reportes/images/file.jpg' %}" alt="Regupera SAS logo" class="img-fluid">
    <div class="container">
        <h2>Telemática</h2>
        <a href="{% url 'reportes:telematica' %}" class="btn btn-primary">Ir al módulo</a>
    </div>
</section>
{% endblock %}