{% extends "base.html" %}

{% block content %}
<div class="d-flex p-2">
    <div class="container list-group">
        <h1 class="text-center">Tipos Reporte</h1>
        {% for reporte in tipos_reporte %}
        <a class="list-group-item list-group-item-action" href="{% url 'reportes:reporte' reporte.name %}">
            <p class="text-center">
                {{ reporte.name }}
            </p>
        </a>
        {% endfor %}
    </div>
    <div class="container">
        <h1 class="text-center">Obtener informacion del navegador</h1>
        {% comment %} {% for scraper in scrapers %}
        <a class="list-group-item list-group-item-action" href="{% url 'reportes:wsp_churn_scraper' %}">
            <p class="text-center">
                {{ scraper }}
            </p>
        </a>
        {% endfor %} {% endcomment %}
    </div>
</div>
{% endblock %}