{% extends "base.html" %}
{% load static %}

{% block web_name %}
Reportes
{% endblock web_name %}

{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/index.css' %}">
{% endblock link_tags %}

{% block content %}
<section class="container content">
    <div class="row mb-4">
        <h2 class="text-center">Módulo de reportería</h2>
        <a href="{% url 'reportes:tipos_reporte' %}" class="btn btn-primary module-btn" role="button">
            Ir al módulo
        </a>
    </div>
    <div class="row">
        <h2 class="text-center">Plataforma Vicidial</h2>
        <a href="{% url 'reportes:vicidial' %}" class="btn btn-primary module-btn">Interactuar con plataforma Vicidial</a>
    </div>
    <div class="row mb-4">
        <div class="col-md-12 text-center">
            <img src="{% static 'reportes/images/file.jpg' %}" alt="Regupera SAS logo" class="img-fluid">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Telemática</h2>
            <div class="d-flex flex-wrap">
                <a class="btn btn-primary m-2" href="{% url 'reportes:whatsapp_scraping' %}" role="button">
                    WHATSAPP
                </a>
                <a class="btn btn-primary m-2" href="#" role="button">
                    MAIL
                </a>
                <a class="btn btn-primary m-2" href="{% url 'reportes:sms_resources' %}" role="button">
                    SMS
                </a>
                <a class="btn btn-primary m-2" href="#" role="button">
                    CALL
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}