{% extends "base.html" %}
{% load static %}

{% block web_name %}Reportes IVR/TRANS{% endblock web_name %}

{% block link_tag %}
<link rel="stylesheet" href="{% static 'reportes/css/lists_reports.css' %}">
{% endblock link_tag %}

{% block content %}

<div class="container">
    <h2 class="text-center">Reporte recursos IVR/Transaccionales</h2>
    <ul class="list-group">
        <li class="list-group-item active d-flex p-2">
            <div class="container">
                <p class="text-center">Marca</p>
            </div>
            <div class="container">
                <p class="text-center">Conteo</p>
            </div>
        </li>
        {% for key, value in values %}
        <li class="list-group-item d-flex p-2">
            <div class="container">
                <p class="text-center fw-bold">{{ key }}</p>
            </div>
            <div class="container">
                <p class="text-center">{{ value }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="container">
        <p class="text-xl-end">Tiempo de ejecución: {{ execution_time }}(s)</p>
    </div>
</div>

{% endblock content %}