{% extends "base.html" %}
{% load static %}

{% block web_name %}{{ user.username }} - Perfil{% endblock web_name %}
{% block link_tags %}{% endblock link_tags %}

{% block content %}
<div class="container">
    <h2>Perfil de {{ user.first_name }} {{ user.last_name }}</h2>
    <hr>
    <div class="user-info">
        <p><strong>Nombre de Usuario:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Fecha de Registro:</strong> {{ user.date_joined }}</p>
        <p><strong>Último Inicio de Sesión:</strong> {{ user.last_login }}</p>
    </div>
    <hr>
    <h3>Actualizar Información</h3>
    <form novalidate enctype="multipart/form-data" action="{% url 'reportes:profile' %}" method="post">
        {% csrf_token %}
        <!-- <div class="form-group">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" name="username" id="username" value="{{ user.username }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" value="{{ user.email }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="first_name">Nombre:</label>
            <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="last_name">Apellido:</label>
            <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}" class="form-control">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Actualizar</button> -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="username">Nombre de usuario</span>
            <input type="text" name="username" class="form-control" aria-label="Username" id="username"
                value="{{ user.username }}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="email">Correo</span>
            <input type="text" name="email" class="form-control" id="email" value="{{ user.email }}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="first_name">Nombre</span>
            <input type="text" name="first_name" class="form-control" id="first_name" value="{{ user.first_name }}">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="last_name">Apellido</span>
            <input type="text" name="last_name" class="form-control" id="last_name" value="{{ user.last_name }}">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>

    <hr>

    <a href="{% url 'reportes:password_change' %}" class="btn btn-secondary">Cambiar Contraseña</a>
    <form action="{% url 'reportes:logout' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cerrar sesion</button>
    </form>
</div>
{% endblock %}