{% extends "base.html" %}
{% load static %}

{% block web_name %}Ranking Asesores{% endblock web_name %}

{% block link_tags %}
{% endblock link_tags %}

{% block content %}
<h1 class="text-center">Ranking general de asesores</h1>
<div class="btn-group">
    {% if user.is_staff %}
    <a href="{% url 'reportes:register' %}" class="btn btn-primary">Añadir Asesor</a>
    <a href="#" class="btn btn-outline-secondary">Descargar reporte</a>
    {% endif %}
</div>
<br><br>
<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <p class="text-center">Posición</p>
            </th>
            <th scope="col">
                <p class="text-center">User</p>
            </th>
            <th scope="col">
                <p class="text-center">Campaña</p>
            </th>
            <th scope="col">
                <p class="text-center">Puntos</p>
            </th>
            <th scope="col">
                <p class="text-center">Rango</p>
            </th>
        </tr>
    </thead>
    {% for asesor in asesores %}
    <tbody>
        <tr>
            <th scope="row">
                <p class="text-center">N°</p>
            </th>
            <td>
                <p class="text-center">
                    {% if user.is_staff %}
                    <a href="{% url 'admin:reportes_usuario_change' asesor.id %}" style="text-decoration: none;">
                        {{asesor.username}}
                    </a>
                    {% else %}
                    {{ asesor.username }}
                    {% endif %}
                </p>
            </td>
            <td>
                <p class="text-center">{{ asesor.campaign }}</p>
            </td>
            <td>
                <p class="text-center">{{ asesor.points }}</p>
            </td>
            <td>
                <p class="text-center">{{ asesor.rank }}</p>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}