{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

{% include "sidebar.html" %}

<div class="container-sm">
    <h1>Crear</h1>
    <form novalidate action="{% url 'reportes:crear' report_type.name %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <a class="btn btn-secondary" href="{% url 'reportes:reporte' report_type.name %}" role="button">Volver</a>
</div>

{% endblock %}