{% extends 'base.html' %}

{% block content %}
<div class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded">
    <a class=" btn btn-primary" href="{% url 'reportes:sms_bases' report_type.name  %}" role="button">Bases de
        SMS</a>
    <a class="btn btn-success" href="{% url 'reportes:crear' report_type.name %}" role="button">Crear</a>
    <a class="btn btn-secondary" href="{% url 'reportes:index' %}" role="button">Volver</a>
</div>
<div class="d-flex p-2">
    <section class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded">
        <!-- <br><br> -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Campaign</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Tipo Reporte</th>
                    <th scope="col">Archivo</th>
                </tr>
            </thead>
            <tbody>
                {% for reporte in reportes %}
                <tr>
                    <th scope="row">{{ reporte.id }}</th>
                    <td>
                        <a class="icon-link" href="{% url 'reportes:reporte_detalle' report_type.name reporte.id %}">
                            {{ reporte.name }}
                        </a>
                    </td>
                    <td>{{ reporte.campaign }}</td>
                    <td>{{ reporte.hora }}</td>
                    <td>{{ reporte.report_type }}</td>
                    <td>
                        <a href="{% url 'reportes:reporte_download' report_type.name reporte.id %}"
                            class="btn btn-primary">
                            Descargar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <section class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded"">
        <ul class=" list-group">
        {% for sms_base in sms_bases %}
        <li class="list-group-item" aria-current="true">
            <div>
                {{ sms_base.name }}
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" href="{% url 'reportes:sms_update' report_type.name sms_base.id %}">
                    Actualizar
                </a>
                <a href="{% url 'reportes:sms_base_download' report_type.name sms_base.id %}" class="btn btn-warning">
                    Descargar
                </a>
            </div>
        </li>
        {% endfor %}
        </ul>
    </section>
</div>

{% endblock %}