{% extends 'base_form.html' %}
{% load static %}

{% block web_name %}crear un reporte {{ report_type.name }}{% endblock web_name %}
{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/reporte_form.css' %}">
{% endblock link_tags %}

{% block form_title %}
<h1 class="text-center">Crear reporte - {{ report_type.name }}</h1>
{% endblock form_title %}
{% block button_label %}Crear{% endblock button_label %}
{% block back_url %}{% url 'reportes:reporte' report_type.name %}{% endblock back_url %}
