{% extends "base.html" %}


{% block web_name %}reporte {{ report_type.name }}: {{ reporte.id }} - {{reporte.name}}{% endblock web_name %}
{% block content %}
<div class="container">
    <ul class="list-group">
        <li class="list-group-item active" aria-current="true">
            <p class="text-center">
                {{ reporte.name }}
            </p>
        </li>
        <li class="list-group-item" aria-current="true">
            <p class="text-center">
                {{ reporte.campaign }}
            </p>
        </li>
        <li class="list-group-item" aria-current="true">
            <p class="text-center">
                {{ reporte.hora }}
            </p>
        </li>
        <li class="list-group-item" aria-current="true">
            <p class="text-center">
                {{ reporte.report_type }}
            </p>
        </li>
        <li class="list-group-item" aria-current="true">
            <p class="text-center">
                {{ reporte.created_at }}
            </p>
        </li>
    </ul>
    <br>
    <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-secondary" href="{% url 'reportes:reporte' report_type.name %}" role="button">Volver a
            la lista</a>
    </div>
</div>
{% endblock %}