{% extends "base.html" %}

{% block content %}
<div class="container">
    <ul class="list-group">
        {% for sms_base in sms_bases %}
        <li class="list-group-item" aria-current="true">
            <div>
                {{ sms_base.name }}
            </div>
            <div class="d-flex justify-content-end">
                <a class="btn btn-primary" href="{% url 'reportes:sms_update' report_type.name sms_base.id %}">
                    Actualizar
                </a>
                <a href="{% url 'reportes:sms_base_download' report_type.name sms_base.id %}" class="btn btn-warning">
                    Descargar
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    <br>
    <a class="btn btn-secondary" href="{% url 'reportes:reporte' report_type.name %}" role="button">Volver</a>
</div>
{% endblock content %}