{% extends "base_form.html" %}
{% load static %}

{% block web_name %}Actualizar base SMS - {{ sms_base.name }}{% endblock web_name %}
{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/sms_base_update.css' %}">
{% endblock link_tags %}
{% block form_title %}
<h2 class="text-center">Actualizar base SMS - {{ sms_base.name }}</h2>
{% endblock form_title %}
{% block button_label %}Actualizar{% endblock button_label %}
{% block back_url %}{% url 'reportes:sms_bases' report_type.name %}{% endblock back_url %}