{% extends "base.html" %}
{% load static %}

{% block web_name %}Reporte recursos SMS{% endblock web_name %}

{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/lists_resources.css' %}">
{% endblock link_tags %}

{% block content %}

<div class="container">
    <h2 class="text-center">Reporte recursos SMS SAEM</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">HORA</th>
                <th scope="col">MARCA</th>
                <th scope="col">RECURSO</th>
                <th scope="col">RECUENTO</th>
                <th scope="col">CAMAÑA</th>
            </tr>
        </thead>
        <tbody>
            {% for item in records %}
            <tr>
                <td>{{ item.hora }}</td>
                <td>{{ item.marca }}</td>
                <td>SMS SAEM</td>
                <td>{{ item.recuento }}</td>
                <td>CLARO</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">TOTAL</th>
                <td></td>
                <td></td>
                <td></td>
                <th scope="row">{{ total }}</th>
            </tr>
        </tbody>
    </table>
    <div class="container">
        <p class="text-xl-end">Tiempo de ejecución: {{ execution_time }} (S)</p>
    </div>
    <div class="container d-flex justify-content-center">
        <a href="{% url 'reportes:resources' %}" class="btn btn-secondary" role="button">Volver</a>
    </div>
</div>

{% endblock content %}