{% extends "base.html" %}
{% load static %}

{% block web_name %}Reportes{% endblock web_name %}

{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/tipos_reporte.css' %}">
{% endblock link_tags %}

{% block content %}
<div class="container">
    <h2 class="text-center">Modulo Reportes</h2>
    <p class="text-center">En este módulo podrás ver y crear reportes asi como gestionar y actualizar los archivos de
        donde provienen</p>
    <ul class="list-group">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            <p class="text-center">TIPOS DE REPORTE</p>
        </a>
        {% for reporte in tipos_reporte %}
        <a class="list-group-item list-group-item-action" href="{% url 'reportes:reporte' reporte.name %}">
            <p class="text-center">{{ reporte.name }}</p>
        </a>
        {% endfor %}
        <a class="list-group-item list-group-item-action" href="{% url 'reportes:resources' %}">
            <p class="text-center">Recursos</p>
        </a>
        <a class="list-group-item list-group-item-action" href="{% url 'reportes:files_bases' %}">
            <p class="text-center">Archivos y Bases</p>
        </a>
    </ul>
    <div class="container d-flex justify-content-center">
        <a href="{% url 'reportes:index' %}" class="btn btn-secondary" role="button">Volver</a>
    </div>
</div>
{% endblock content %}