{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block web_name %}Actualizar Archvos de mensajes{% endblock web_name %}

{% block link_tags %}
<link rel="stylesheet" href="{% static 'reportes/css/update_lists.css' %}">
{% endblock link_tags %}

{% block content %}
<h2 class="text-center">Registros de listas IVR y/o Transaccional</h2>
<hr>

<br>
<sec class="d-flex p-2">
    <div class="container">
        <h4 class="text-center">Actualizar archivos de envio SMS</h4>
        <form novalidate method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center btn-group">
                <button class="btn btn-primary" type="submit">Actualizar</button>
                <a href="{% url 'reportes:files_bases' %}" class="btn btn-secondary" role="button">volver</a>
            </div>
        </form>
    </div>
    <div class="vertical-line"></div>
    <div class="container">
        <ul class="list-group">
            <li class="list-group-item active">Archivos actuales</li>
            {% for file in inside_files %}
            <li class="list-group-item">{{ file }}</li>
            {% endfor %}
        </ul>
    </div>
</sec>
{% endblock content %}