{% extends "base.html" %}
{% load static %}

{% block web_name %} Recupera SAS {% endblock web_name %}

{% block content %}

<h1 class="text-center">Bienvenidos a la plataforma de automatización Recupera SAS</h1>
<p class="text-center">Optimiza tus procesos operativos con nuestras aplicaciones diseñadas para ti.</p>
<br>

<section class="text-center p-4">
    <h2>Funciones Destacadas</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>App de Reportería</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Herramientas para agilizar los procesos operativos como generar reportes de recursos, whatsapp o incluso interactuar con la plataforma vicidial.</p>
                        <a class="btn btn-primary" href="{% url 'reportes:index' %}" role="button">Ir a la APP</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5>App Gestión de Clientes</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Visualiza, actualiza y manipula la asignación de clientes con filtros avanzados mediante la API proporcionada por el proveedor de Control Next, Intercom.</p>
                        <a href="{% url "gestion_clientes:index" %}" class="btn btn-primary" role="button">Ir a la APP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center p-4">
    <h2>Beneficios de Usar Nuestra Plataforma</h2>
    <ul class="list-unstyled">
        <li>Agiliza tus procesos operativos</li>
        <li>Mejora la gestión de clientes</li>
        <li>Interfaz intuitiva y fácil de usar</li>
    </ul>
</section>

<section class="text-center p-4">
    <blockquote class="blockquote">
        <p>"¿Como sabes cual es tu límite, si no te esfuerzas al Máximo?"</p>
    </blockquote>
</section>

{% endblock content %}
