{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="text-center">Bienvenidos a la plataforma de automatizacion Recupera SAS</h1>
<br>
<section class="d-flex p-2">
    <div class="container list-group w-25 p-3">
        <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
            The current link item
        </a>
        <a href="reportes/whatsapp/crear" class="list-group-item list-group-item-action">
            Crear un reporte de whatsapp
        </a>
        <a href="reportes/whatsapp/sms_bases" class="list-group-item list-group-item-action">Actualizar bases de SMS</a>
        <a href="{% url 'mensajeria:index' %}" class="list-group-item list-group-item-action">
            Enviar masivos via WhatsApp
        </a>
        <!-- <a class="list-group-item list-group-item-action disabled" aria-disabled="true">A disabled link item</a> -->
    </div>
    <div class="container w-50 p-3">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">App de Reportería</h5>
                <p class="card-text">En esta app, encontrarás herramientas para agilizar los procesos
                    operativos.<br>Para saber mas, ingresa pulsando en el boton de ir a la app.</p>
                <a href="{% url 'reportes:index' %}" class="btn btn-primary">Ir a la APP</a>
            </div>
        </div>
        <br><br>
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <h5 class="card-title">App de Mensajería</h5>
                <p class="card-text">Dentro de esta app podrás enviar masivamente mensajes de whatsapp con unos pocos
                    clicks.</p>
                <a href="{% url 'mensajeria:index' %}" class="btn btn-primary">Ir a la APP</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}