{% block content %}
<div id="sidebar" class="sidebar">
    <button id="close-btn" class="close-btn">&times;</button>
    <h2>MENU</h2>
    <p>Accesos directos</p>
    <ul>
      <li><a class="sidebar-link" href="#">Crear un reporte</a></li>
      <li><a class="sidebar-link" href="#">Actualizar bases de SMS</a></li>
      <li><a class="sidebar-link" href="#">Enviar masivos via WhatsApp</a></li>
      <li><a class="sidebar-link" href="#">Acerca de</a></li>
    </ul>
  </div>
{% endblock content %}